table { border-collapse:collapse;background-image: url(PL.jpg)}
img   { margin-left:auto}
h1    { background-color: rebeccapurple; font-family:'Times New Roman', Times, serif;color: white; text-align:center }
body  { background-image: linear-gradient(to right, purple, pink)}